
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    box-sizing: border-box;
    overflow: hidden;
}
.inventory{
    height: 40px;
    background-color:  #ebd59d;
}
.inventory a{
     text-decoration: none;
     color: white;
     border: 2px solid black;
     padding: 3px;
     border-radius: 6px;
    background: black;
     font-size: 10px;
}
.inventory h1{
    font-size: 13px;
    text-align: center; 
    padding-top: 10px;
}

header div svg {
    width: 120px;
    height: 15px;
    cursor: pointer;
    margin-top: 20px;
}

header {
    margin-right: 10px;
    z-index: 1;
    margin-left: 50px;
    justify-content: space-between;
    position: fixed;
    display: flex;
}

header a {
    line-height: 30px;
    padding: 0 15px;
    white-space: nowrap;
    text-align: center;
    display: inline-block;
    font-size: 17px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    color: rgb(34, 34, 34);
    text-decoration: none;
}
.hamburger{
    display: none;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}

.md1 {
    margin-left: 300px;
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    z-index: 5;
}

.md1 a:nth-child(5) {
    padding-right: 260px;
}

.hover {
    background-color: white;
    position: absolute;
    z-index: -1;
    opacity: 0;
    transition: all 0.7s;
    border-radius: 10px;
    height: 30px;
    display: inline-block;
}

.md1 a:nth-child(1):hover~.hover {
    opacity: 1;
    left: 5px;
    width: 85px;
}

.md1 a:nth-child(2):hover~.hover {
    opacity: 1;
    left: 91px;
    width: 85px;
}

.md1 a:nth-child(3):hover~.hover {
    opacity: 1;
    left: 183px;
    width: 85px;
}

.md1 a:nth-child(4):hover~.hover {
    opacity: 1;
    left: 279px;
    width: 85px;
}

.md1 a:nth-child(5):hover~.hover {
    opacity: 1;
    left: 373px;
    width: 60px;
}

.md1 a:nth-child(6):hover~.hover {
    opacity: 1;
    left: 691px;
    width: 35px;
}

.md1 a:nth-child(7):hover~.hover {
    opacity: 1;
    left: 740px;
    width: 35px;
}

.md1 a:nth-child(8):hover~.hover {
    opacity: 1;
    left: 785px;
    width: 35px;
}

.md1 a:nth-child(9):hover~.hover {
    opacity: 1;
    left: 770px;
    width: 55px;
}

/* -------------------main section--------------- */
.main-1 {
    display: flex;
    overflow: auto;
    flex: none;
    width: 100%;
    height: 100vh;
    flex-flow: column nowrap;
    scroll-snap-type: y mandatory;
}

.main-1>div {
    text-align: center;
    scroll-snap-align: center;
    flex: none;
    width: 100%;
    height: 100%;
}
.main-1 div img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}
.main-2{
    position: relative;
}
.head{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    top: 0;
    height: 40vh;
    align-items: center;
}
.head h1{
    font-size: 45px;
    font-weight: 500;
    color: white;
    padding-bottom: 5px;
}
.head span{
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.head a{
    color: white;
    text-decoration: underline;
    cursor: pointer;
    text-underline-position: under;
}
head ul li{
    padding-left: 20px;
}
.head a:hover{
    text-decoration-thickness: 5px;
} 
.catagories-line{
    position: relative;
    top: 170px;
}
.catagories-line ul{
    color: white;
}
.catagories-line p{
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.login{
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.login div{
    display: flex;
    justify-content: center;
}
.btn div{
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
    width: 250px;
    height: 40px;
    cursor: pointer;
    border-radius: 50px;
}
#order{
    background-color: #393c41;
    color: white;
}
#invn{
    background-color: #eeebeb;
    color: #393c41;
}
#order,#invn{
    font-size: 14px;
    font-weight: 500;
}
.blank{
    height: 70px;
}
.login .arrow{
    height: 60px;
    font-size: 25px;
    color: white;
    animation: updown 1.5s ease infinite;
}

@keyframes updown {
    0%{
        transform: translateY(0);
    }
    10%{
        transform: translateY(5px);
    }
    20%{
        transform: translateY(0);
    }
    30%{
        transform: translateY(5px);
    }
    40%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(5px);
    }
    80%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(0);
    }
    
}
.main .head h1{
    animation: showspan 1s;
}
.main .head span{
    animation: show 2s;
}
@keyframes show {
    0%{
        transform: translateY(30px);
        opacity: 0;
    }
    40%{
        transform: translateY(30px);
        opacity: 0;
    }
    70%{
        transform: translateY(0px);
        opacity: 1;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
     
}
@keyframes showspan {
     0%{
        transform: translateY(30px);
        opacity: 0;
     }
     100%{
        transform: translateY(0);
        opacity: 1;
     }
    
}
.login #order{
    animation: order 1s;
}
@keyframes order {
    0%{
        transform: translatex(20px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }  
}
.login #invn{
    animation: order 1s;
}
@keyframes invn {
    0%{
        transform: translatex(-20px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }  
}

/* Responsive Section */
@media  screen and (max-width:320px) {
    * {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
    
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    body {
        box-sizing: border-box;
        overflow: hidden;
    }
    .inventory{
        height: 50px;
        background-color:  #ebd59d;
        width: 100%;
    }
    .inventory a{
        background: none;
        border: none;
        color: black;
        font-size: 13px;
        text-decoration: underline;
        cursor: pointer;
    }
    .inventory h1{
        font-size: 13px;
        text-align: center; 
        padding-top: 10px;
        width: 100vw;
    }
    
    header div svg {
        width: 30vw;
        height: 15px;
        cursor: pointer;
        margin-top: 20px;
        margin-left: -40px;
    }
    .hideonmobile{
        display: none;
    }
    .hamburger{
        margin-left: -43vw;
        display: block;
    }
   .hamburger i{
    color: white;
   }
    .md1 {
        margin-left: 300px;
        position: relative;
        height: 50px;
        display: flex;
        align-items: center;
        z-index: 5;
    }
    
    /* -------------------main section--------------- */
    .main-1 {
        display: flex;
        overflow: auto;
        flex: none;
        width: 100%;
        height: 100vh;
        flex-flow: column nowrap;
        scroll-snap-type: y mandatory;
    }
    
    .main-1>div {
        text-align: center;
        scroll-snap-align: center;
        flex: none;
        width: 100%;
        height: 100%;
    }
    .main-1 div img{
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: center;
    }
    .main-2{
        position: relative;
    }
    .head{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        top: 0;
        height: 40vh;
        align-items: center;
    }
    .head h1{
        font-size: 35px;
        font-weight: 500;
        color: white;
        padding-bottom: 5px;
        margin-top: 30px;
    }
    .head span{
        color: white;
        font-size: 15px;
        font-weight: 500;
    }
    .head a{
        color: white;
        text-decoration: underline;
        cursor: pointer;
        text-underline-position: under;
    }
    head ul li{
        padding-left: 20px;
    }
    .head a:hover{
        text-decoration-thickness: 5px;
    } 
    .catagories-line{
        position: relative;
        top: 170px;
    }
    .catagories-line ul{
        color: white;
    }
    .catagories-line p{
        color: white;
        font-size: 16px;
        font-weight: 500;
    }
    
    .login{
        position: fixed;
        bottom: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    .login div{
        display: flex;
        justify-content: center;
    }
    .btn div{
        align-items: center;
        margin-right: 15px;
        margin-left: 15px;
        width: 250px;
        height: 40px;
        cursor: pointer;
        border-radius: 50px;
    }
    #order{
        background-color: #393c41;
        color: white;
    }
    #invn{
        background-color: #eeebeb;
        color: #393c41;
    }
    #order,#invn{
        font-size: 14px;
        font-weight: 500;
    }
    .blank{
        height: 70px;
    }
    .login .arrow{
        height: 60px;
        font-size: 25px;
        color: white;
        animation: updown 1.5s ease infinite;
    }
    
    @keyframes updown {
        0%{
            transform: translateY(0);
        }
        10%{
            transform: translateY(5px);
        }
        20%{
            transform: translateY(0);
        }
        30%{
            transform: translateY(5px);
        }
        40%{
            transform: translateY(0);
        }
        50%{
            transform: translateY(5px);
        }
        80%{
            transform: translateY(0);
        }
        100%{
            transform: translateY(0);
        }
        
    }
    .main .head h1{
        animation: showspan 1s;
    }
    .main .head span{
        animation: show 2s;
    }
    @keyframes show {
        0%{
            transform: translateY(30px);
            opacity: 0;
        }
        40%{
            transform: translateY(30px);
            opacity: 0;
        }
        70%{
            transform: translateY(0px);
            opacity: 1;
        }
        100%{
            transform: translateY(0);
            opacity: 1;
        }
         
    }
    @keyframes showspan {
         0%{
            transform: translateY(30px);
            opacity: 0;
         }
         100%{
            transform: translateY(0);
            opacity: 1;
         }
        
    }
    .login #order{
        animation: order 1s;
    }
    @keyframes order {
        0%{
            transform: translatex(20px);
            opacity: 0;
        }
        100%{
            transform: translateX(0);
            opacity: 1;
        }  
    }
    .login #invn{
        animation: order 1s;
    }
    @keyframes invn {
        0%{
            transform: translatex(-20px);
            opacity: 0;
        }
        100%{
            transform: translateX(0);
            opacity: 1;
        }  
    }
    
}